<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Supplier Login</title>
</head>

<body>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<link rel="stylesheet" href="https://unpkg.com/vuetify/dist/vuetify.min.css">

<div id="app">
    <v-app id="inspire">
        <!-- Login page start -->
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Supplier Login</v-toolbar-title>
                            </v-toolbar>
                            <v-form @submit.prevent="login" ref="form" v-model="valid" lazy-validation>
                                <v-card-text>
                                    <v-text-field prepend-icon="person" name="login" label="Supplier Id" type="text"
                                                  v-model="loginInfo.SupplierId" required
                                                  :rules="[v => !!v || 'Supplier Id is required']"
                                    ></v-text-field>
                                    <v-text-field id="password" prepend-icon="lock" name="password" label="Password"
                                                  type="password" v-model="loginInfo.Password"
                                                  autocomplete="current-password" required
                                                  :rules="passwordRules"
                                    ></v-text-field>
                                </v-card-text>
                                <v-card-actions>
                                    <p class="ml-3 red--text" v-if="loginFailed">Login failed</p>
                                    <v-spacer></v-spacer>
                                    <v-btn color="primary" type="submit">Login</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
        <!-- Login page end -->
    </v-app>
</div>

</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vuetify/dist/vuetify.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    new Vue({
        el: '#app',
        data: () => ({
            loginFailed: false,
            valid: true,
            loginInfo: { //Object reserve to submit login request
                SupplierId: '',
                Password: ''
            },
            passwordRules: [
                v => !!v || 'Password is required'
            ]
        }),

        created() {
            axios({
                method: 'get',
                url: 'SupplierLogin.php'
            }).then(res => {
                if (res.data.success) {
                    window.location.href = 'supplier-approved-order.html'
                }
            })
        },

        methods: {
            initialize() {
                axios({
                    method: 'post',
                    url: 'SupplierLogin.php',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    data: this.loginInfo
                }).then(res => {
                    if (res.data.success) {
                        window.location.href = 'supplier-approved-order.html'
                    } else {
                        this.loginFailed = true;
                    }
                })
            },
            login() {
                if (!this.$refs.form.validate()) {
                    return;
                }
                this.initialize();
            }
        }
    })
</script>

</html>